{% load staticfiles %}
<!DOCTYPE html>
<html lang"es">

<head>
	<meta charset= "utf-8">
	<meta name= "keywords" content= "pagina, html5, css3, maquetacion">
	<meta name= "descripcion" content ="Pagina Web con estilos css3">
	<title>Guaricanos Teams</title>
	<link rel="stylesheet" href="Estilos/estilos.css"><!--conect con css-->
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<section id="contenedordepublicidad">
	<section id="logo">
			<h1>
				.
				.
				.

			</h1>

	</section>
	<section id="banner">
			<h1>GuaricanosTeam Page From CTC</h1>
			<p>
				Un equipo diseñado para elaborar desarrollo de aplicaciones web en general
				Familias dominicanas desarrollándose integralmente y viviendo en valores, en un marco de equidad, solidaridad y justicia social.
			</p>
			<p style="text-align: center;">	
				SOMOS SOLIDARIOS
				Trabajamos intensamente, con empatía, pasión y respeto, para mejorar la calidad de vida de los más necesitados.

				SOMOS RESPONSABLES
				Nos comprometemos y cumplimos nuestros objetivos y lo que prometemos; actuamos de forma proactiva, con entusiasmo, creatividad y calidad.

				SOMOS ÍNTEGROS
				Actuamos según nuestros principios éticos, de forma honesta, auténtica y transparente.
			</p>

	</section>

	<section id="noticias">
		<h1><div style="color:#FFFFFF;">Noticias</h1><p><div style="color:#FFFFFF;"><div style=" font-size:11px;"><div style=" font-family: Georgia, 'Times New Roman', serif;">
		<p style="text-align: center;">
			Con el auspicio de los CTC de la vicepresidencia, estamos desarrollandonos cada dia mas
		</p>
		<p style="text-align: center;">El director de los CTC, Claudio Doñé, explicó que en el tiempo actual se vive la era de la tecnología, y que por ende, quien no está en Internet no existe. Sin embargo resaltó que se requiere de responsabilidad el uso adecuado de esa herramienta</p>
	</section>

	<section id="productos">
		<h1><div style="color:#FFFFFF;">Productos de desarrollos</h1><p><div style="color:#FFFFFF;"><div style=" font-size:11px;"><div style=" font-family: Georgia, 'Times New Roman', serif;">
		<p style="text-align: center;">Esta actual pagina es ejemplo de nuestra ardua labor!
		</p>
		<p style="text-align: center;">
			Oferta Educativa

			La oferta educativa CTC comprende una amplia variedad de cursos y talleres de capacitación. Entre los más ofrecidos y solicitados por las comunidades están los siguientes cursos, entre otras nuevas ofertas que brindamos cada año:

		</p>

	</section>

	<section id="marcasdepatrocinios">
		<h1><div style="color:#FFFFF;">Patrocinios</h1><p><div style="color:#FFFFF;"><div style=" font-size:11px;"><div style=" font-family: Georgia, 'Times New Roman', serif;">
		CTC de la VicePresidencia!.

	</section>

	<footer>
		<h1><div style="color:#FFFFFF;">Contáctanos</h1><p><div style="color:#FFFFFF;"><div style=" font-size:10px;"><div style=" font-family: Georgia, 'Times New Roman', serif;">
		<p style="text-align: center;">Hardriverstudios@gmail.com
				Estamosx ubicados en la calle no me acuerdo, esquina se me olvido # 0,
				Tel: 809-555-cincoriente alterna

				Centros Tecnológicos Comunitarios (CTC) 2013. 
				Pedro Henríquez Ureña #12, Gazcue. Santo Domingo, R.D 
				Tel: (809) 333-3262, info@ctc.edu.do 
				© 2013 Todos los derechos reservados.
		</p>
		{% for post in posts %}
			<div class='post'>
				<p>published: {{ post.published_date }}</p>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaks }}</p>
				</div>
		{% endfor %}

	</footer>

</section>

</body>
</html>
