{
	border: 0;
	margin: 0;
	padding: 0;
}

  h1 a {
        color: #FCA205;
    }
body{
	background: #076770;
	background: url('../Img/logo.jpg') rgb(255, 255, 255);
	background-size: 1280px 800px;
	font: 700 0.75em/1.38 Helvetica;
	color: rgb(9, 10, 10);

}
#logo{
	background: url('../Img/Logovp.png') rgb(255, 255, 255);
	background-size: 800px 100px;
	background-position: top;
	background-repeat: no-repeat;
}

#contenedordepublicidad{
	
	height: 1050px;
	width: 750px;
	margin-right: auto;
	margin-left: auto;
	font-weight: normal;

}
header{
	background: #fff;
	height: 100px;
	width: 750px;
}

#banner{
	background: url('../Img/noticias.jpg') rgb(255, 255, 255);
	height: 250px;
	width: 750px;
	border: #000;
	border-left: 10px;
	background-size: 700px 500px;
	color: #ffffff;
	font-weight: normal;
	font-family: tahoma;
	text-align: center;
}
#noticias{
	background: #e0f1f5;
	height: 200px;
	width: 750px;
	background: url('../Img/noticias.jpg') rgb(255, 255, 255);
	background-size: 800px 6000px;
	background-position: center;
	background-repeat: no-repeat;
	font-weight: normal;
}
#marcasdepatrocinios{
	background: #e0f1f5;
	height: 200px;
	width: 750px;
	font-weight: normal;
	background: url('../Img/Logovp.png') rgb(255, 255, 255);
	background-size: top;
	background-size: 250px 150px;
	background-position: center;
	background-repeat: no-repeat;
}
.post{

	color: 	#DDD;
	font-size: 13;
	font-weight: normal;
	text-align: center;
}
#productos{
	background: #07b2dd;
	height: 200px;
	width: 750px;
	background: url('../Img/desarrollo.jpg') rgb(255, 255, 255);
	background-size: 800px 6000px;
	background-position: center;
	background-repeat: no-repeat;
}
footer{
	background: #6f6f6f;
	height: 100px;
	width: 750px;
	font-size: 12;
}
