	{
	border: 0;
	margin: 0;
	padding: 0;
}

  h1 a {
        color: #FCA205;
    }
body{
	background: #076770;
	background: url('../img/1.png') rgb(255, 255, 255);
	background-size: cover;
	background-position: left top;
	font: 700 0.75em/1.38 Helvetica;
	color: rgb(9, 10, 10);
}
#contenedordepublicidad{
	height: 1050px;
	width: 750px;
	margin-right: auto;
	margin-left: auto;
}
header{
	background: #fff;
	height: 100px;
	width: 750px;
}
#banner{
	background: #07b2dd;
	height: 250px;
	width: 750px;
	border: #000;
	border-left: 10px;
}
#noticias{
	background: #e0f1f5;
	height: 200px;
	width: 750px;
}
#productos{
	background: #07b2dd;
	height: 200px;
	width: 750px;
}
footer{
	background: #6f6f6f;
	height: 100px;
	width: 750px;
}
